<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description }}</p>
		<ul class="actions">
			<!-- <li><a href="#two" class="button special">Application due June 14 for in-person event,
			June 28 for virtual event</a></li> -->
			<!-- <li><span class="button special">Event details coming soon!</span></li> -->
			<li><a href="/ohw-resources/" class="button special">For event details go to the OHW Resources site</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>
