<section id="covid19" class="wrapper special style5">
	<div class="inner">
		<header class="major">
			<h2>Coronavirus (COVID-19) Contingency</h2>
			<p>
				<b>2020-4-23.</b> We are monitoring the COVID-19 situation and are in ongoing discussions 
				about its impact on plans for a virtual event in 2020 and in-person events in 2021. 
				Please check this web site regularly for updates.
				To stay up to date on the current impact of the coronavirus emergency and government recommendations,
				see the US Federal web site <a href="https://www.coronavirus.gov">https://www.coronavirus.gov</a> 
				and your state and local positions.
			</p>
		</header>
	</div>
</section>
