<section id="covid19" class="wrapper special style5">
	<div class="inner">
		<header class="major">
			<h2>Coronavirus (COVID-19) Contingency</h2>
			<p>
				We are monitoring the COVID-19 situation and will make a decision by late May about whether to proceed with 
				the event in mid August, as planned, or postpone to January 2021. If it is postpone,
				OceanHackweek West may be moved to San Diego.
				
				To stay up to date on the current impact of the coronavirus emergency and government recommendations,
				see the US Federal web site <a href="https://www.coronavirus.gov">https://www.coronavirus.gov</a> 
				and your state and local positions.
			</p>
		</header>
	</div>
</section>
