<!-- One -->
<section id="one" class="wrapper style2 special">
	<div class="inner">
		<header class="major">
			<h2>ABOUT OCEANHACKWEEK</h2>
			<p>
				Oceanhackweek is a 5-day learning hackathon aimed at exploring,
				creating and promoting effective computation and analysis workflows for
				large and complex oceanographic data. By democratizing data access and
				increasing exposure to technological assets, our goals are to accelerate research,
				promote collaboration and cultivate data science literacy among the ocean sciences community.
			</p>
			<p>
				<a href="https://oceanhackweek.github.io/ohw2018/">See the previously held Oceanhackweek 2018</a>
				|
				<a href="/hackweek.html">Learn about "hackweek".</a>
			</p>
		</header>
		<!--<ul class="icons major">-->
			<!--<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span>-->
			<!--</li>-->
			<!--<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>-->
			<!--</li>-->
			<!--<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span>-->
			<!--</li>-->
		<!--</ul>-->
	</div>
</section>
