<section id="five" class="wrapper style2 special">
    <div class="inner">
        <header class="major">
            <h2>Location and time zones</h2>
            <p>
                <b>In-person workshop:</b>
                <a href="https://www.bigelow.org">Bigelow Laboratory for Ocean Sciences</a>, 
                East Boothbay, Maine (US EDT, UTC-4).
            </p>
            <p>
                <b>Virtual event:</b>
                We expect to hold formal sessions in at least two time zones, 
                USA PDT (UTC-7) and Australian EST (UTC+10).

            </p>
        </header>
        <!-- <div id="map"></div> -->
    </div>
</section>

<!-- <script type="application/javascript">
    var map = L.map('map').setView([47.65338269999999, -122.3118654], 12);

    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([47.65338269999999, -122.3118654]).addTo(map)
        .bindPopup('eScience Institute <br/> WRF Data Science Studio, UW Physics/Astronomy Tower, 6th Floor, Campus Box 351570, 3910 15th Ave NE, Seattle, WA 98195')
        .openPopup();
</script> -->
