<section id="four" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>OceanHackWeek 2020 Sponsors</h2>
			<p>Thanks to our sponsors that make this event possible.</p>
		</header>
		<div class="sponsors">
			<div class="sponsors-row">
				<div class="sponsors-logo">
					<img src="assets/images/eScience_square_logo.jpg" alt="UW eScience">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/BigelowLabs.png" alt="Bigelow Lab">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/apl_logo_blue.jpg" alt="UW APL">
				</div>
			</div>
			<div class="sponsors-row">
				<div class="sponsors-logo">
					<img src="assets/images/nsf.jpeg" alt="NSF">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/ioos_logo.jpg" alt="IOOS">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/OCB_logo.png" alt="OCB">
				</div>
			</div>
		</div>
	</div>
</section>
