<section id="one" class="wrapper special style2">
	<div class="inner">
		<header class="major">
			<h2>About OceanHackWeek</h2>
			<p>
				OceanHackWeek (OHW) is a 5-day collaborative learning experience aimed at exploring,
				creating and promoting effective computation and analysis workflows for
				large and complex oceanographic data. It includes tutorials, data exploration, software development, collaborative projects and community networking.
				Its objectives are to:
				<ul style="text-align: left">
					<li>Promote data and software proficiency in ocean scientists: 
						Provide participants with computational and data science skills that can 
						advance oceanography research, which often requires the integration and 
						manipulation of diverse sources of data and models.
					</li>
					<li>Facilitate inclusive community building: 
						Connect oceanographers across disciplines and career stages and cultivate 
						an open science and a sharing culture.
					</li>
				</ul>
			</p>
			<p>
				Due to COVID-19, OceanHackWeek 2020 will take place as a virtual, online event. 
				Formal daily activities will take place over a period of up to 3 hours per day, tentatively 10am-1pm US PDT / 1-4pm US EDT / 17:00-20:00 UTC. These activities include tutorials and project check-in with the entire group, but exclude actual project time. The time period will be finalized based on the geographical distribution of participants.
			</p>
			<p>
				<a href="hackweek.html">What is a Hackweek?</a>
				|
				See the previously held <a href="https://oceanhackweek.github.io/ohw19/">OceanHackWeek 2019</a> and
				<a href="https://oceanhackweek.github.io/ohw2018/">OceanHackWeek 2018</a>
			</p>
		</header>
	</div>
</section>
