<!-- Three -->
<section id="three" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Oceanhackweek 2019 Sponsors</h2>
		</header>
		<div class="sponsors">
			<div class="sponsors-row">
				<div class="sponsors-logo">
					<img src="assets/images/nsf.jpeg" alt="">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/escience.png" alt="">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/ioos_logo.jpg" alt="">
				</div>
				<div class="sponsors-logo">
                                        <img src="assets/images/ooi.jpg" alt="">
                                </div>

			</div>
		</div>
	</div>
</section>
