<section id="four" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>Oceanhackweek 2020 Sponsors</h2>
			<p>Additional sponsors will be added as support is secured.<p>
		</header>
		<div class="sponsors">
			<div class="sponsors-row">
				<!-- <div class="sponsors-logo">
					<img src="assets/images/nsf.jpeg" alt="NSF">
				</div> -->
				<div class="sponsors-logo">
					<img src="assets/images/escience.png" alt="UW eScience">
				</div>
				<div class="sponsors-logo">
					<img src="https://www.bigelow.org/img/logo/bigelow.svg" alt="Bigelow Lab">
				</div>
				<div class="sponsors-logo">
					<img src="assets/images/ioos_logo.jpg" alt="IOOS">
				</div>
				<!-- <div class="sponsors-logo">
                                        <img src="assets/images/ooi.jpg" alt="OOI">
                                </div> -->
			</div>
		</div>
	</div>
</section>
