<section id="one" class="wrapper special style2">
	<div class="inner">
		<header class="major">
			<h2>ABOUT OCEANHACKWEEK</h2>
			<p>
				OceanHackweek is a 5-day collaborative learning experience aimed at exploring,
				creating and promoting effective computation and analysis workflows for
				large and complex oceanographic data. Its objectives are to:
				<ul>
					<li>Promote data and software proficiency in ocean scientists: 
						Provide participants with computational and data science skills that can 
						advance oceanography research, which often requires the integration and 
						manipulation of diverse sources of data and models.
					</li>
					<li>Facilitate inclusive community building: 
						Connect oceanographers across disciplines and career stages and cultivate 
						an open science and a sharing culture.
					</li>
				</ul>

				OceanHackweek (OHW) 2020 will consist of two parallel, coordinated events taking place at the same time
				on the US East and West coasts at the <a href="https://www.bigelow.org">Bigelow Laboratory for Ocean Sciences</a> 
				in East Boothbay, Maine, and the <a href="https://www.uw.edu/">University of Washington</a> in Seattle, 
				Washington. While previous OceanHackweeks took place as a single location at the University of Washington,
				this new approach will result in smaller individual events, options for closer locations, 
				and an opportunity for each event to focus on distinct oceanographic disciplines. <b>OHW-East</b> and <b>OHW-West</b> 
			        will emphasize biological themes and observation platforms, respectively. However, participants 
				with diverse interests will be welcome at both events.
			</p>
			<p>
				<a href="hackweek.html">What is a Hackweek?</a>
				|
				See the previously held <a href="https://oceanhackweek.github.io/ohw2019/"></a>Oceanhackweek 2019</a> and
				<a href="https://oceanhackweek.github.io/ohw2018/"></a>Oceanhackweek 2018</a>
			</p>
		</header>
	</div>
</section>
