name: Check Sphinx Build
on:
  pull_request:
    branches: [master, source]

jobs:
  jekyll_build:
    name: Jekyll build of web pages
    runs-on: ubuntu-latest

    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Conda environment from environment.yml
        uses: mamba-org/provision-with-micromamba@v11

      - name: Build documentation
        shell: bash -l {0}
        run: |
          make html

      # workaround https://github.com/actions/upload-artifact/issues/38
      - name: tarball
        run: tar czf site.tar.gz ./_build/html/

      # https://github.com/actions/upload-artifact
      - name: Upload Website artifact
        uses: actions/upload-artifact@v1
        with:
          name: Website
          path: site.tar.gz
